 #bus-seats {
      display: grid;
      grid-template-columns: repeat(10, 40px);
      gap: 10px;

    }

    .seat {
      width: 40px;
      height: 40px;
      border: 2px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }

    .available {
      background-image: url('/static/icons/bus_seat_available.png'); /* Replace with your image path */
      background-size: cover; /* Adjusts the size of the background image */
      background-position: center; /* Centers the background image */
    }

    .booked {
      background-image: url('/static/icons/bus_seat_booked.png'); /* Replace with your image path */
      background-size: cover; /* Adjusts the size of the background image */
      background-position: center; /* Centers the background image */
      cursor: not-allowed;
    }

    .selected {
      background-image: url('/static/icons/bus_seat_selected.png'); /* Replace with your image path */
      background-size: cover; /* Adjusts the size of the background image */
      background-position: center; /* Centers the background image */
    }
    .custom-modal-size {
    max-width: 65%; /* Adjust width as needed */
    max-height: 100vh; /* Adjust height as needed */
    margin-left: 30px;
    justify-content:center
    }

    .custom-modal-body {
        overflow-y: auto; /* Adds scroll if content overflows */
    }

      #bus-sleeper {
      display: grid;
      grid-template-columns: repeat(8, 80px); /* Adjust the column width */
      gap: 10px;

    }

    .sleeper {
      width: 80px;
      height: 40px;

      border-radius: 5px;
      cursor: pointer;
    }

    .sleeper-available {
      background-image: url('/static/icons/sleeper-available.png'); /* Replace with your image path */
      background-size: cover; /* Adjusts the size of the background image */
      background-position: center; /* Centers the background image */
    }

    .sleeper-booked {
      background-image: url('/static/icons/sleeper-booked.png'); /* Replace with your image path */
      background-size: cover; /* Adjusts the size of the background image */
      background-position: center; /* Centers the background image */
      cursor: not-allowed;
    }

    .sleeper-selected {
      background-image: url('/static/icons/sleeper-selected.png'); /* Replace with your image path */
      background-size: cover; /* Adjusts the size of the background image */
      background-position: center; /* Centers the background image */
    }


        body {
            font-family: sans-serif;
        }

        .container {
            display: flex;
        }

        .left {
            width: 50%;
            padding: 20px;
        }

        .right {
            width: 50%;
            padding: 20px;
        }

        .passenger-details {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            background-color: white
        }

        .passenger-details h3 {
            margin-top: 0;
        }

        .input-field {
            margin-bottom: 10px;
        }

        .input-field label {
            display: block;
            margin-bottom: 5px;
        }

        .input-field input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .input-field select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .trip-summary {
            border: 1px solid #ccc;
            padding: 20px;
            background-color: white
        }

        .trip-summary h3 {
            margin-top: 0;
        }

        .flight-details {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        .total-fare {
            text-align: right;
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
        }

        .button {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .button:hover {
            background-color: #45a049;
        }