/* Full-screen loading overlay */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Always on top */
}
/* Bus Search  */

#bus-search-form {
    display: flex;
    justify-content: center;
}

.bus-search-container {
    display: flex;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border: 2px solid black;
    border-color: black;
    /* Remove any flex properties specific to center alignment as they are handled by the parent */
}

.bus-search-section {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-right: 1px solid #ddd;
        }

.bus-search-section:last-child {
    border-right: none;
        }

.icon {
    margin-right: 10px;
        }

.input-wrapper {
    display: flex;
    flex-direction: column;
        }

input, .date-input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
        }

.date-input {
    display: flex;
    flex-direction: column;
        }

input::placeholder {
    font-weight: normal;
    color: #aaa;
        }

.swap-icon {
    font-size: 20px;
    color: #999;
    margin: 0 10px;
}

.search-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
}

.search-btn:hover {
    background-color: #c0392b;
        }

}
.flatpickr-input {
    border: none;
    outline: none;
}
.oswald-header {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with desired weight */
  font-style: normal;

}
/* Search Results */
#search-results {
    display: flex;
    justify-content: center;
}
container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;

        }

        .flight-card {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 100%;
            border: 2px solid black;
        }

        .flight-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            color: black;
        }

        .flight-details {
            display: flex;
            flex-direction: column;
        }

        .flight-details h3 {
            margin-bottom: 5px;
        }

        .flight-details p {
            margin: 0;
        }

        .flight-price {
            font-size: 1.2em;
            font-weight: bold;
        }