<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book My Bus - Ticket</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="static/icons/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"><!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/static/scripts/reservation.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <style>
  /* Hide table borders for all views */
  table {
    border: none !important;
  }

  th, td {
    border: none !important; /* Remove borders from table header and cells */
  }

  @media (max-width: 767.98px) { /* Mobile and tablet */
    #bookings {
      width: 95%;
    }

    thead {
      display: none; /* Hide the thead */
    }
  }
</style>


</head>
<body>


<div class="bg-image"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            min-height: 100vh">
<section id="header" style="background-color: white;">
  <div class="header" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-delay="0">
    <div class="container-fluid">
      <!-- Bootstrap Navbar -->
      <header class="navbar navbar-expand-md d-flex flex-wrap align-items-center justify-content-between">
        <!-- Logo Section -->
        <div class="col-md-3">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="/static/logos/bmb_header.gif" height="50">
          </a>
        </div>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navigation Menu -->
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
          <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item">
              <a href="{{ url_for('dashboard', user=current_user.name) }}" class="nav-link px-2 text-black">
                <i class="fas fa-house"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('bookings', user=current_user.name) }}" class="nav-link px-2 text-black">
                <i class="fas fa-ticket"></i> My Tickets
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('status', user=current_user.name) }}" class="nav-link px-2 text-black">
                <i class="fas fa-bars-progress"></i> Check Status
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('cancellation', user=current_user.name) }}" class="nav-link px-2 text-black">
                <i class="far fa-address-card"></i> Cancel Ticket
              </a>
            </li>
            <!-- User Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-2" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="color: #A13333;">
                <i class="fas fa-user"></i> {{ current_user.name.title() }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
    </div>
  </div>
</section>

<div class="container" style="margin-top: 30px">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-dismissible fade show alert-{{ category }}" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>

<section id="bookings" class="pb-4 table-responsive container">
  <table class="table align-middle mb-0 bg-white table-responsive table-bordered border-dark">
    <thead class="bg-light">
      <tr>
        <th>Passenger Info</th>
        <th>Route</th>
        <th>Bus</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr class="d-block d-md-table-row mb-4 mb-md-0 "> <!-- Make each row block-level on mobile -->
        <!-- Passenger Info -->
        <td class="d-block d-md-table-cell ">
          <div class="d-flex align-items-center">
            <div>
              <p class="fw-bold mb-1">{{booking.first_name}} {{booking.last_name}}</p>
              <p class="text-muted mb-0">{{booking.pnr}}</p>
            </div>
          </div>
        </td>

        <!-- Route -->
        <td class="d-block d-md-table-cell ">
          <button type="button" class="btn btn-dark" data-mdb-ripple-init disabled>{{booking.from_city}} ➜ {{booking.to_city}}</button>
        </td>
        <td class="d-block d-md-table-cell">
          <div class="d-flex align-items-center">
            <div>
              <p class="fw-bold mb-1">{{booking.bus_type}}</p>
              <p class="text-muted mb-0">Seat: {{booking.selected_seats}}</p>
            </div>
          </div>
        </td>


        <!-- Status -->
        <td class="d-block d-md-table-cell">
          {% if current_time > booking.date_formated %}
          <span class="badge badge-danger rounded-pill d-inline">Expired</span>
          {% else %}
          <span class="badge badge-success rounded-pill d-inline">Confirmed</span>
          {% endif %}
        </td>

        <!-- DATE -->
        <td class="d-block d-md-table-cell">
          {{booking.date}}
        </td>

        <!-- Actions -->
        <td class="d-block d-md-table-cell">
            <div class="btn-group">
                <button type="button" class="btn btn-dark btn-sm btn-rounded dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-pen"></i>
                </button>
                  {% if current_time > booking.date_formated %}
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <form action="{{ url_for('remove_ticket', ticket_id=booking.id) }}" method="POST">
                            <button type="submit" class="dropdown-item">Remove Ticket</button>
                        </form>
                    </li>
                    <li>
                        <a class="dropdown-item disabled" href="#">Cancel Ticket</a>
                    </li>
                    <li>
                        <a class="dropdown-item disabled" href="#">Download Ticket</a> <!-- This can be implemented later -->
                    </li>
                </ul>
              {% else %}
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item disabled">Remove Ticket</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('cancellation', user=current_user.name) }}">Cancel Ticket</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('download_ticket', ticket_id=booking.id) }}">Download Ticket</a> <!-- This can be implemented later -->
                    </li>
                </ul>
              {% endif %}
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section id="footer" style="margin-top:50px">
    <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
            <img src="/static/logos/bmb_logo-nobg.png" width="200px">
          <p>
 Our secure and straightforward booking process ensures that planning your travel is hassle-free. Whether you're commuting for work or planning a getaway, BookMyBus makes your journey smoother.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Policies
          </h6>
          <p>
            <a href="#!" class="text-reset">Booking Policy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cancellation Policy</a>
          </p>
          <p>
            <a href="{{url_for('policy')}}" target="_blank" class="text-reset">Terms and Conditions</a>
          </p>
          <p>
            <a href="{{url_for('policy')}}" target="_blank" class="text-reset">Company Details</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
              Links
          </h6>
          <p>
            <a href="/#pricing" class="text-reset" target="_blank">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="/#about" class="text-reset" target="_blank">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New Delhi, 110001, IN</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            bookmybus.info@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 91 881 045 9229</p>
          <p> <i class="fas fa-hashtag" style="padding-right:20px"></i>
        <a href="https://www.facebook.com/rohit.talukdar.54" class="facebook" target="_blank" style="padding-right:5px"><i class="fab fa-facebook fa-lg" ></i></a>
        <a href="https://www.instagram.com/rohittalukdarr/" class="instagram" target="_blank"><i class="fab fa-instagram fa-lg"style="padding-right:5px"></i></a>
        <a href="https://github.com/syncmee/" class="github" target="_blank"><i class="fab fa-github fa-lg"style="padding-right:5px"></i></a>
        <a href="https://www.linkedin.com/in/rohittalukdar/" class="linkedin" target="_blank"><i class="fab fa-linkedin fa-lg"style="padding-right:5px"></i></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=rtalukdar2002@gmail.com" class="google" target="_blank"style="padding-right:5px"><i class="fab fa-google fa-lg"></i></i></a>
        </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

</footer>
<!-- Footer -->
</section>













<!--Scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js">
</script>
<script>
    window.addEventListener("load", function() {
  setTimeout(function() {
    document.getElementById('loading').style.display = 'none';
    document.getElementById('content').style.display = 'block';
  }, 2010); // 2000ms = 2 seconds
});
</script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</body>
</html>
