<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book My Bus - Dashboard</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="static/icons/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="/static/scripts/styles.css" rel="stylesheet">
    <link href="/static/scripts/reservation.css" rel="stylesheet">
<!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
<div id="loading">
<img src="/static/logos/loading_logo.gif" alt="Loading..." class="img-fluid">
</div>

<div class="bg-image"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            min-height: 100vh">

<section id="header" style="background-color: white;">
  <div class="header" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-delay="0">
    <div class="container-fluid">
      <!-- Bootstrap Navbar -->
      <header class="navbar navbar-expand-md d-flex flex-wrap align-items-center justify-content-between">
        <!-- Logo Section -->
        <div class="col-md-3">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="/static/logos/bmb_header.gif" height="50">
          </a>
        </div>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navigation Menu -->
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
          <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item">
              <a href="{{ url_for('dashboard', user=current_user.name) }}" class="nav-link px-2 text-black">
                <i class="fas fa-house"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('bookings', user=current_user.name) }}" class="nav-link px-2 text-black">
                <i class="fas fa-ticket"></i> My Tickets
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('status', user=current_user.name) }}" class="nav-link px-2 text-black">
                <i class="fas fa-bars-progress"></i> Check Status
              </a>
            </li>
            <li class="nav-iteom">
              <a href="{{ url_for('cancellation', user=current_user.name) }}" class="nav-link px-2 text-black">
                <i class="far fa-address-card"></i> Cancel Ticket
              </a>
            </li>
            <!-- User Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle px-2" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="color: #A13333;">
                <i class="fas fa-user"></i> {{ current_user.name.title() }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
    </div>
  </div>
</section>

<!--Display Flash message-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-dismissible fade show alert-{{ category }}" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>



<section id="ticket">
<div class="p-5 text-center">
    <h1 class=" oswald-header" style="color: white">Travel Across Cities with Ease</h1>
</div>

<form method="POST"  action="{{ url_for('dashboard', user=user) }}" id="bus-search-form">
 <div class="bus-search-container px-3">
        <!-- From Section -->
        <div class="bus-search-section">
            <div class="icon">
                <img src="/static/icons/passenger-in.png" width="33px">
            </div>
            <div class="input-wrapper">
                     <label for="from-destination">From</label>
                  <input list="from-destinations" id="from-destination" name="from-destination" placeholder="Enter city" autofocus required>
                  <datalist id="from-destinations">
                    {% for city in VALID_DESTINATIONS['from'] %}
                        <option value="{{ city }}">
                    {% endfor %}

            </div>
        </div>

        <!-- Swap Icon -->
        <div class="bus-search-section d-none d-md-block">
            <div class="swap-icon">⇄</div>
        </div>

        <!-- To Section -->
        <div class="bus-search-section">
            <div class="icon">
                <img src="/static/icons/passenger-out.png" width="40px">
            </div>
            <div class="input-wrapper">
                <label for="to-destination">To</label>
                 <input list="to-destinations" id="to-destination" name="to-destination" placeholder="Enter city" required>
                  <datalist id="to-destinations" style="max-height: 120px;">
                    {% for city in VALID_DESTINATIONS['to'] %}
                        <option value="{{ city }}">
                    {% endfor %}
                  </datalist>
            </div>
        </div>

        <!-- Date Section -->
        <div class="bus-search-section">
            <div class="icon">
                <img src="/static/icons/calendar.png" width="35px" id="calendar-icon">
            </div>
            <div class="date-input" >
                <label for="date-input">Date</label>
                <input type="date" id="date-input" name="travel-date" placeholder="Select Date..">
            </div>
        </div>


        <!-- Search Button -->
        <div class="bus-search-section">
            <button type="submit" class="btn btn-dark">SEARCH BUSES</button>
        </div>
    </div>

</form>

</section>
{% if show_details_form %}
<hr class="hr hr-blurry" />
<section id="bus-search">
      <div id="busDetails" class="container">
        <div class="p-5 text-center">
            <h1 class=" oswald-header" style="color: white">Best Buses</h1>
            <h2 class=" oswald-header" style="color: white">Ranked based on price and convenience</h2>
        </div>

        {% for bus in buses %}
      <form action="{{ url_for('passenger_info', user=user) }}" method="post">
        <div class="bus-card" id="bus-card-{{buses.index(bus)}}">
            <div class="bus-info">
                <div class="bus-details">

                    <h3> <img src="/static/logos/bmb_logo-nobg.png" width="150px" style="padding-right: 5px" class="img-fluid"></h3>
                    <h6>
                      {{ bus.departure_time }} - {{ bus.arrival_time[0] }}
                      {% if '+1' in bus.arrival_time %}
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="right" title="Arrival on the next day"> +1 </a>
                      {% elif '+2' in bus.arrival_time %}
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="right" title="Arrival on the day after tomorrow"> +2 </a>
                      {% elif '+3' in bus.arrival_time %}
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="right" title="Arrival in three days"> +3 </a>
                      {% endif %}
                    </h6>
                    <h6>{{ bus.duration }}</h6>
                    <p>{{bus.date}}</p>
                </div>
                <div class="bus-details text-center encode-sans" >
                    <h1> {{ bus.from.upper() }} <img src="/static/icons/bus-direction.gif" width="120" height="60" class="img-fluid"> {{ bus.to.upper() }} </h1>
                    {% if bus.type == "Non-AC" %}
                    <a ><img src="/static/logos/scania.png" class="img-fluid" data-mdb-tooltip-init data-mdb-placement="right" title="Scania Irizar i8 Premium Non-AC Bus">
                     <input type="hidden" name="bus_type" value="Scania  Irizar i8 Non-AC Bus"></a>
                    <section id="non-ac">
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Charging Port"> <img src="/static/icons/charging-port.png" height="30px" width="30px"> </a>
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Water Bottle"> <img src="/static/icons/water-bottle.png" height="30px" width="30px"> </a>
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Track My Bus"> <img src="/static/icons/trackbus.png" height="30px" width="30px"> </a>
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="CCTV"> <img src="/static/icons/cctv.png" height="30px" width="30px"> </a>
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Reading Light"> <img src="/static/icons/reading-light.png" height="30px" width="30px"> </a>
                    </section>

                    {% elif bus.type == "AC" %}
                    <a><img src="/static/logos/benz.png" class="img-fluid" data-mdb-tooltip-init data-mdb-placement="right" title="Mercedes-Benz Super A40/AC Bus">
                    <input type="hidden" name="bus_type" value="Mercedes-Benz Super A40/AC Bus"></a>
                    <section id="accordion-ac-{{buses.index(bus)}}">
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Snacks"> <img src="/static/icons/snacks.png" height="30px" width="30px"></a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Wi-Fi"> <img src="/static/icons/wifi.png" height="30px" width="30px"></a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Comfortable Seats"> <img src="/static/icons/comfort-seats.png" height="30px" width="30px"></a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Leg Rest"> <img src="/static/icons/leg-rest.png" height="30px" width="30px"></a>

                    <i class="fas fa-circle-chevron-down fa-lg" data-mdb-collapse-init
                    data-mdb-target="#collapseAc-{{buses.index(bus)}}"
                    aria-expanded="false"
                    aria-controls="collapseAc-{{buses.index(bus)}}"
                    data-mdb-tooltip-init data-mdb-placement="right" title="Amenities"></i> 6


                    <div id="collapseAc-{{buses.index(bus)}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                    <section id="ac" >
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Charging Port"> <img src="/static/icons/charging-port.png" height="30px" width="30px"> Charging Port | </a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Water Bottle"> <img src="/static/icons/water-bottle.png" height="30px" width="30px"> Water | </a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Track My Bus"> <img src="/static/icons/trackbus.png" height="30px" width="30px"> Track My Bus | </a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="CCTV"> <img src="/static/icons/cctv.png" height="30px" width="30px"> CCTV | </a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Wi-Fi"> <img src="/static/icons/wifi.png" height="30px" width="30px"> Wi-Fi </a>
                    </BR>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Snacks"> <img src="/static/icons/snacks.png" height="30px" width="30px"> Snacks | </a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Comfortable Seats"> <img src="/static/icons/comfort-seats.png" height="30px" width="30px"> Comfortable Seats |</a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Reading Light"> <img src="/static/icons/reading-light.png" height="30px" width="30px"> Reading Light |</a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Blankets"> <img src="/static/icons/blanket.png" height="30px" width="30px"> Blankets | </a>
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Leg Rest"> <img src="/static/icons/leg-rest.png" height="30px" width="30px"> Leg Rest </a>
                    </section>
                    </div>
                    </div>
                    </section>


                    {% elif bus.type == "Sleeper" %}
                    <a><img src="/static/logos/volvo.png" class="img-fluid"  data-mdb-tooltip-init data-mdb-placement="right" title="Volvo 9600x AC Sleeper Bus">
                    <input type="hidden" name="bus_type" value="Volvo 9600x AC Sleeper Bus"></a>
                    <section id="accordion-sleeper">
                    <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Snacks"> <img src="/static/icons/snacks.png" height="30px" width="30px"></a>
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Wi-Fi"> <img src="/static/icons/wifi.png" height="30px" width="30px"></a>
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Onboard Entertainment"> <img src="/static/icons/onboard-entertainment.png" height="30px" width="30px"></a>
                        <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Bed"> <img src="/static/icons/bed.png" height="30px" width="30px"></a>

                        <i class="fas fa-circle-chevron-down fa-lg" data-mdb-collapse-init
                        data-mdb-target="#collapseSleeper-{{buses.index(bus)}}"
                        aria-expanded="false"
                        aria-controls="collapseSleeper-{{buses.index(bus)}}"
                        data-mdb-tooltip-init data-mdb-placement="right" title="Amenities"></i> 10

                        <div id="collapseSleeper-{{buses.index(bus)}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                          <div class="accordion-body">
                           <section id="sleeper">
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Charging Port"> <img src="/static/icons/charging-port.png" height="30px" width="30px"> Charging Port | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Water Bottle"> <img src="/static/icons/water-bottle.png" height="30px" width="30px"> Water | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Track My Bus"> <img src="/static/icons/trackbus.png" height="30px" width="30px"> Track My Bus | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Blankets"> <img src="/static/icons/blanket.png" height="30px" width="30px"> Blankets | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="CCTV"> <img src="/static/icons/cctv.png" height="30px" width="30px"> CCTV | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Wi-Fi"> <img src="/static/icons/wifi.png" height="30px" width="30px"> Wi-Fi | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Reading Light"> <img src="/static/icons/reading-light.png" height="30px" width="30px"> Reading Light </a>
                                </BR>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Snacks"> <img src="/static/icons/snacks.png" height="30px" width="30px"> Snacks | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Restroom"> <img src="/static/icons/restroom.png" height="30px" width="30px"> Restroom | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Bedsheet"> <img src="/static/icons/bedsheet.png" height="30px" width="30px"> Bedsheets | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Onboard Entertainment"> <img src="/static/icons/onboard-entertainment.png" height="30px" width="30px"> Onboard Entertainment | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Privacy Curtains"> <img src="/static/icons/curtains.png" height="30px" width="30px"> Curtains | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Bed"> <img src="/static/icons/bed.png" height="30px" width="30px"> Bed | </a>
                            <a href="#bus-card" data-mdb-tooltip-init data-mdb-placement="bottom" title="Headset"> <img src="/static/icons/headset.png" height="30px" width="30px"> Headset </a>
                            </section>
                        </div>
                      </div>
                    </section>
                    {% endif %}

                </div>
                <div class="bus-price lobster-regular">
                    <button type="submit" class="btn btn-danger btn-lg" style="margin-left: 20px;margin-bottom:20px"><strong> {{ bus.price }} </strong></button></br>
                </div>


            </div>
        </div>
          <!-- Hidden inputs to pass bus details to the next page -->
        <input type="hidden" name="bus_id" value="{{ bus.duration }}">
        <input type="hidden" name="departure_time" value="{{ bus.departure_time }}">
        <input type="hidden" name="arrival_time" value="{{ bus.arrival_time }}">
        <input type="hidden" name="date" value="{{ bus.date }}">
        <input type="hidden" name="from" value="{{ bus.from }}">
        <input type="hidden" name="to" value="{{ bus.to }}">
        <input type="hidden" name="price" value="{{ bus.price }}">
        <input type="hidden" name="user" value="{{ user }}">
        <!-- Add other hidden fields as needed -->
      </form>
        {% endfor %}
    </div>
</section>

<section id="footer" style="margin-top:100px">
    <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
            <img src="/static/logos/bmb_logo-nobg.png" width="200px">
          <p>
 Our secure and straightforward booking process ensures that planning your travel is hassle-free. Whether you're commuting for work or planning a getaway, BookMyBus makes your journey smoother.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Policies
          </h6>
          <p>
            <a href="#!" class="text-reset">Booking Policy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cancellation Policy</a>
          </p>
          <p>
            <a href="{{url_for('policy')}}" target="_blank" class="text-reset">Terms and Conditions</a>
          </p>
          <p>
            <a href="{{url_for('policy')}}" target="_blank" class="text-reset">Company Details</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
              Links
          </h6>
          <p>
            <a href="/#pricing" class="text-reset" target="_blank">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="/#about" class="text-reset" target="_blank">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New Delhi, 110001, IN</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            bookmybus.info@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 91 881 045 9229</p>
          <p> <i class="fas fa-hashtag" style="padding-right:20px"></i>
        <a href="https://www.facebook.com/rohit.talukdar.54" class="facebook" target="_blank" style="padding-right:5px"><i class="fab fa-facebook fa-lg" ></i></a>
        <a href="https://www.instagram.com/rohittalukdarr/" class="instagram" target="_blank"><i class="fab fa-instagram fa-lg"style="padding-right:5px"></i></a>
        <a href="https://github.com/syncmee/" class="github" target="_blank"><i class="fab fa-github fa-lg"style="padding-right:5px"></i></a>
        <a href="https://www.linkedin.com/in/rohittalukdar/" class="linkedin" target="_blank"><i class="fab fa-linkedin fa-lg"style="padding-right:5px"></i></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=rtalukdar2002@gmail.com" class="google" target="_blank"style="padding-right:5px"><i class="fab fa-google fa-lg"></i></i></a>
        </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

</footer>
<!-- Footer -->
</section>
{% endif %}




<!--Scripts-->
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js">
</script>
<script>
    window.addEventListener("load", function() {
  setTimeout(function() {
    document.getElementById('loading').style.display = 'none';
    document.getElementById('content').style.display = 'block';
  }, 2010); // 2000ms = 2 seconds
});
</script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/static/js/reservation.js"></script>
</body>
</html>