<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookMyBus - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!-- Header -->
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="static/Designer.png" height="50">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#home" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#destinations" class="nav-link px-2">Destinations</a></li>
        <li><a href="#features" class="nav-link px-2">Features</a></li>
        <li><a href="#" class="nav-link px-2">Pricing</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="{{ url_for('login') }}"
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        </a>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>
  </div>

<!-- Home -->
<section id="home" class="mt-5">
    <div class="px-4 pt-5 my-5 text-center border-bottom" bis_skin_checked="1">
    <h1 class="display-4 fw-bold text-body-emphasis">Your Journey Starts Here.</h1>
    <div class="col-lg-6 mx-auto" bis_skin_checked="1">
      <p class="lead mb-4">Discover the Joy of Effortless Travel Planning and Secure Bookings with BookMyBus. Experience Reliable Connections, Comfortable Rides, and Memorable Journeys Every Time..</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" bis_skin_checked="1">
      <a class="btn btn-outline-secondary" href="#about">About Us</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;" bis_skin_checked="1">
      <div class="container px-5" bis_skin_checked="1">
        <img src="static/bus-rent.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Bus Photo" width="700" height="500" loading="lazy">
      </div>
    </div>
    </div>
</section>

<!-- Destinations -->
<section id="destinations" class="mt-5">
    <div class="container px-4 py-5" id="custom-cards" bis_skin_checked="1">
    <h2 class="pb-2 border-bottom">Destinations</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" bis_skin_checked="1">
      <div class="col" bis_skin_checked="1">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://i.pinimg.com/564x/53/05/3a/53053ab72cad14290687d421dd514aa2.jpg');" bis_skin_checked="1">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" bis_skin_checked="1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Stark, breathtaking, serene, ethereal.</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/Designer.png" alt="BookMyBus logo" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                <small>Ladakh</small>
              </li>
              <li class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                </svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col" bis_skin_checked="1">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://besthqwallpapers.com/Uploads/23-3-2018/45473/thumb2-chumathang-4k-mountains-river-jammu-and-kashmir.jpg');" bis_skin_checked="1">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" bis_skin_checked="1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">A paradise of majestic mountains.</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/Designer.png" alt="BookMyBus logo" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                <small>Kashmir</small>
              </li>
              <li class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                </svg>
                <small>4d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col" bis_skin_checked="1">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://i.pinimg.com/736x/c9/9c/7b/c99c7b691392cc9256ca8f9dea9d7581.jpg');" bis_skin_checked="1">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1" bis_skin_checked="1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">the City of Lakes, Royals and Heritage,</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/Designer.png" alt="BookMyBus logo" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                <small>Udaipur</small>
              </li>
              <li class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                </svg>
                <small>2d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Features -->
<section id="features">
  <div class="container px-4 py-5" id="icon-grid" bis_skin_checked="1">
    <h2 class="pb-2 border-bottom">Features</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5" bis_skin_checked="1">
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Online Booking Convenience</h3>
          <p>Users can book bus tickets conveniently from anywhere using the BookMyBus app or website.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Real-time Seat Availability</h3>
          <p>Check real-time availability of seats on various bus routes before booking.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Multiple Payment Options</h3>
          <p>Offers multiple secure payment options including credit/debit cards, net banking, and digital wallets.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Seat Selection</h3>
          <p> Allows users to choose their preferred seats from available options, ensuring comfort during the journey.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Bus Tracking</h3>
          <p>Track the location of booked buses in real-time, providing peace of mind and accurate arrival times.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"></use></svg>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Cancellation and Refunds</h3>
          <p>rovides easy cancellation and refund options through the app or website, adhering to clear policies.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"></use></svg>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Travel Alerts and Notifications</h3>
          <p>Sends timely alerts and notifications about booking status, departure times, and any changes.p>
        </div>
      </div>
      <div class="col d-flex align-items-start" bis_skin_checked="1">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"></use></svg>
        <div bis_skin_checked="1">
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Customer Support</h3>
          <p>Access to 24/7 customer support for resolving queries and assistance during the booking process or journey.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing -->
<section id="pricing">

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Pricing</h2>
    <p class="fs-5 text-body-secondary">Explore our flexible pricing options designed to cater to your travel needs. Whether you're looking for a budget-friendly ride or a luxurious journey, BookMyBus offers a variety of fare categories to suit every traveler.</p>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">Non-AC Bus</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">₹1200<small class="text-body-secondary fw-light">/onwards</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Economical fares</li>
              <li>Basic amenities included</li>
              <li>Budget-friendly travel option</li>
              <li>Ideal for short to medium-distance journeys</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">AC Bus</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">₹1700<small class="text-body-secondary fw-light">/onwards</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Comfortable seating</li>
              <li>Air-conditioned environment</li>
              <li>Enhanced travel experience</li>
              <li>Wi-Fi Enabled</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary" bis_skin_checked="1">
            <h4 class="my-0 fw-normal">AC Sleeper Bus</h4>
          </div>
          <div class="card-body" bis_skin_checked="1">
            <h1 class="card-title pricing-card-title">₹2500<small class="text-body-secondary fw-light">/onwards</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Premium sleeper berths</li>
              <li>Air-conditioned compartments</li>
              <li>Privacy curtains for each berth</li>
              <li>Ideal for overnight journeys</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>